extends layout


block content   
    .add-container
        .row 
            .col-md-6.col-md-offset-3
            h2.display-4.m-b-2 Add Image
            - if(messages.success)
                .message.success.alert-success
                    span= messages.success
            - else if(messages.info)
                .message.info.alert-info
                    span= messages.info
            - else if(messages.error)
                .message.error.alert-danger
                    span= messages.error
            include _form.pug
