extends layout

block content   
    .add-container
        .row 
            .col-md-6.col-md-offset-3
            h2.display-4.m-b-2 Add Image
            include _flashes.pug
            include _form.pug
