extends layout

block content
    div.images-show
        h2 Images
        div.row
        include _flashes
        each img in imgs
            div.col-sm-8.col-md-4.col-lg-
                img.image(src=img.src )
