extends layout

block content
    div.index-container
        div.puppy-box

            h1= title
            p Welcome to #{title}

        div.puppy-box
        div.puppy-box
        div.puppy-box
        div.puppy-box
        div.puppy-box
        div.puppy-box
        div.puppy-box
        div.puppy-box
        div.puppy-box
