extends layout

block content
    div.index-container
        div.puppy-box

            h1= title
            p Welcome to #{title}
        each dog in dogStrs
            div.puppy-box
                img.image(src=dog)  
                //- div.puppy-box
                //-     h2 3
                //- div.puppy-box
                //-     h2 4
                //- div.puppy-box
                //-     h2 5
                //- div.puppy-box
                //-     h2 6 
                //- div.puppy-box
                //-     h2 7 
                //- div.puppy-box
                //-     h2 8
                //- div.puppy-box
                //-     h2 9
                //- div.puppy-box
                //-     h2 10
