doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")

    body
        block content

        script(type="text/javascript" src="/javascripts/index.js")
