/* @media (min-width:853px) {
    .vsc-initialized {
        background-color: yellow;
    }
}

@media (max-width:852px) {
    .vsc-initialized {
        background-color: blue;
    }
} */

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.image {
    max-width: 100%;
    max-height: 100%;
    /* padding: 5px; */
}

#upload {
    height: initial;
}

/* .cindex-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr 2fr);
} */


/* not visible- only for connecting js */
.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
}

.images-show .image {
    /* margin-bottom: 10px; */
}

.index-container {
    display: flex;
    justify-content: center;
}

.puppy-container {
    display: grid;
    /* min-max on each col is repsponsive */
    grid-template-columns: 200px 200px 100px 100px 100px 100px;
    grid-template-rows: repeat(4, 135px);
    /* grid-template-columns: 100px repeat(2, 1fr auto) 200px repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr); */
    /* border: 10px solid goldenrod; */
    grid-gap: 10px;
    /* width: 900px; */
    /* margin: auto; */
}

.puppy-box h1 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 5em;
    line-height: normal;
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    color: #999;
}

/* 853 and up */
@media (min-width:853px) {
    .state-indicator {
        z-index: 1;
    }

    .puppy-container {
        grid-template-columns: 200px 200px 100px 100px 100px 100px;
        grid-template-rows: repeat(4, 135px);
    }

    .puppy-box:nth-child(1) {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }

    .puppy-box:nth-child(2) {
        /* background-col   or: green; */
        grid-row: 1 / 3;
        grid-column: 3 /5;
    }

    .puppy-box:nth-child(3) {
        /* background-color: #3498db; */
        grid-column: 5/ 7;
        /* grid-row: 1 / 3; */
    }

    .puppy-box:nth-child(4) {
        /* background-color: #9b59b6; */
        grid-column: 5/ 7;
    }

    /* @media (min-width: 1160px) {
    .puppy-box:nth-child(5) {}
    } */

    .puppy-box:nth-child(5) {
        grid-row: 3 / 5;
        grid-column: 1 / 3;
        /* background-color: black; */

    }

    .puppy-box:nth-child(6) {
        /* background-color: #e67e22; */
    }

    .puppy-box:nth-child(7) {
        /* background-color: #e74c3c; */

    }

    .puppy-box:nth-child(8) {
        /* background-color: #bdc3c7; */
        grid-column: 3 / 5;
        /* grid-column: 3; */
    }

    .puppy-box:nth-child(9) {
        /* background-color: #16a085; */
        grid-row: 3 / 5;
        grid-column: 5 / 7;

    }
}

/* 852 down next media */
@media (max-width:852px) {
    .state-indicator {
        z-index: 2;
    }



    .puppy-container {
        grid-template-columns: 125px 125px 75px 75px 75px 75px;
        grid-template-rows: repeat(4, 135px);

    }

    .puppy-box:nth-child(1) {

        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }

    .puppy-box:nth-child(1) h1 {
        font-size: 3em;
    }

    .puppy-box:nth-child(2) {
        /* background-col   or: green; */
        grid-row: 1 / 3;
        grid-column: 3 /5;
    }

    .puppy-box:nth-child(3) {
        /* background-color: #3498db; */
        grid-column: 5/ 7;
        /* grid-row: 1 / 3; */
    }

    .puppy-box:nth-child(4) {
        /* background-color: #9b59b6; */
        grid-column: 5/ 7;
    }

    /* @media (min-width: 1160px) {
    .puppy-box:nth-child(5) {}
    } */

    .puppy-box:nth-child(5) {
        grid-row: 3 / 5;
        grid-column: 1 / 3;
        /* background-color: black; */

    }

    .puppy-box:nth-child(6) {
        /* background-color: #e67e22; */
    }

    .puppy-box:nth-child(7) {
        /* background-color: #e74c3c; */

    }

    .puppy-box:nth-child(8) {
        /* background-color: #bdc3c7; */
        grid-column: 3 / 5;
        /* grid-column: 3; */
    }

    .puppy-box:nth-child(9) {
        /* background-color: #16a085; */
        grid-row: 3 / 5;
        grid-column: 5 / 7;

    }
}

/* 639 and down */
@media (max-width:639px) {
    .state-indicator {
        z-index: 3;
    }

    .puppy-box>h1 {
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 5em;
        line-height: normal;
        font-family: Baskerville, Palatino, "Book Antiqua", serif;
    }


    .puppy-container {
        grid-template-columns: 170px 170px;
        grid-auto-rows: 135px;
    }

    .puppy-box {
        /* background-color: green; */

    }

    .puppy-box:nth-child(1) {
        grid-row: initial;
        grid-column: initial;
        grid-column: 1 / 3;
    }

    .puppy-box:nth-child(2) {
        /* background-col   or: green; */
        grid-row: initial;
        grid-column: initial;
    }

    .puppy-box:nth-child(3) {
        /* background-color: #3498db; */
        grid-row: initial;
        grid-column: initial;
    }

    .puppy-box:nth-child(4) {
        /* background-color: #9b59b6; */
        grid-row: initial;
        grid-column: initial;
    }

    .puppy-box:nth-child(5) {
        grid-row: initial;
        grid-column: initial;
        /* background-color: black; */

    }

    .puppy-box:nth-child(6) {
        /* background-color: #e67e22; */
        grid-row: initial;
        grid-column: initial;
    }

    .puppy-box:nth-child(7) {
        /* background-color: #e74c3c; */
        grid-row: initial;
        grid-column: initial;

    }

    .puppy-box:nth-child(8) {
        /* background-color: #bdc3c7; */
        grid-row: initial;
        grid-column: initial;
    }

    .puppy-box:nth-child(9) {
        /* background-color: #16a085; */
        grid-row: initial;
        grid-column: initial;
    }
}