body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.images-show .image {
    max-width: 100%;
    margin-bottom: 10px;
}

.index-container {
    display: flex;
    flex-wrap: wrap;
}

.puppy-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 5px;
}