body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

#upload {
  height: initial;
}

.links {
  background-color: #444;
  width: 100%;
  font-weight: bold;
  padding: 8px;
  overflow-y: auto;
  max-height: 75px;
}

footer {
  text-align: center;
}

.links a {
  color: #c9e2b1;
  font-family: monospace, sans-serif;
}

.amp {
  font-style: italic;
  line-height: 1%;
  font-family: Baskerville, Palatino, 'Book Antiqua', serif;
}

/* not visible- only for connecting js */
.state-indicator {
  position: absolute;
  top: -999em;
  left: -999em;
}

.index-container {
  display: flex;
  justify-content: center;
}

.puppy-container {
  display: grid;
  /* min-max on each col is repsponsive */
  grid-template-columns: 200px 200px 100px 100px 100px 100px;
  grid-template-rows: repeat(4, 135px);
  grid-gap: 10px;
}

.puppy-box h1 {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 5em;
  line-height: normal;
  font-family: Baskerville, Palatino, 'Book Antiqua', serif;
  color: #999;
  margin-top:0;
  padding-top: 0;
}

.error-page .puppy-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INDEX PAGE STYLES */
/* 853 and up */
@media (min-width: 853px) {
  .index-page .state-indicator {
    z-index: 1;
  }

  .index-page .puppy-container {
    grid-template-columns: 200px 200px 100px 100px 100px 100px;
    grid-template-rows: repeat(4, 135px);
  }

  .index-page .puppy-box:nth-child(1) {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    padding: 0 10px;
    padding-bottom: 5px
  }

  .index-page .puppy-box:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3 /5;
  }

  .index-page .puppy-box:nth-child(3) {
    grid-column: 5/ 7;
  }

  .index-page .puppy-box:nth-child(4) {
    grid-column: 5/ 7;
  }

  .index-page .puppy-box:nth-child(5) {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
  }

  .index-page .puppy-box:nth-child(8) {
    grid-column: 3 / 5;
  }

  .index-page .puppy-box:nth-child(9) {
    grid-row: 3 / 5;
    grid-column: 5 / 7;
  }
}

/* 852 down next media */
@media (max-width: 852px) {
  .state-indicator {
    z-index: 2;
  }

  .index-page .puppy-container {
    grid-template-columns: 125px 125px 75px 75px 75px 75px;
    grid-template-rows: repeat(4, 135px);
  }

  .index-page .puppy-box:nth-child(1) {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }

  .index-page .puppy-box:nth-child(1) h1 {
    font-size: 3em;
  }

  .index-page .puppy-box:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3 /5;
  }

  .index-page .puppy-box:nth-child(3) {
    grid-column: 5/ 7;
  }

  .index-page .puppy-box:nth-child(4) {
    grid-column: 5/ 7;
  }

  .index-page .puppy-box:nth-child(5) {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
  }

  .index-page .puppy-box:nth-child(8) {
    grid-column: 3 / 5;
  }

  .index-page .puppy-box:nth-child(9) {
    grid-row: 3 / 5;
    grid-column: 5 / 7;
  }
}

/* 639 and down */
@media (max-width: 639px) {
  .index-page .state-indicator {
    z-index: 3;
  }

  .index-page .puppy-box:nth-child(1) h1 {
    font-size: 5em;
  }

  .index-page .puppy-container {
    grid-template-columns: 170px 170px;
    grid-auto-rows: 135px;
  }

  .index-page .puppy-box:nth-child(1) {
    height: 200px;
    grid-row: 1/ 3s;
    grid-column: 1 / 3;
  }

  .index-page .puppy-box:nth-child(2) {
    grid-row: initial;
    grid-column: initial;
  }

  .index-page .puppy-box:nth-child(3) {
    grid-row: initial;
    grid-column: initial;
  }

  .index-page .puppy-box:nth-child(4) {
    grid-row: initial;
    grid-column: initial;
  }

  .index-page .puppy-box:nth-child(5) {
    grid-row: initial;
    grid-column: initial;
  }

  .index-page .puppy-box:nth-child(6) {
    grid-row: initial;
    grid-column: initial;
  }

  .index-page .puppy-box:nth-child(7) {
    grid-row: initial;
    grid-column: initial;
  }

  .index-page .puppy-box:nth-child(8) {
    grid-row: initial;
    grid-column: initial;
  }

  .index-page .puppy-box:nth-child(9) {
    grid-row: initial;
    grid-column: initial;
  }
}

@media (max-width: 450px) {
  .index-page .state-indicator {
    z-index: 4;
  }

  .index-page .puppy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index-page .puppy-box:nth-child(1) {
    height: 300px;
    padding: 0 10px;
  }

  .index-page .puppy-box:nth-child(1) h1 {
    font-size: 4em;
    text-align: center;
  }

  .index-page .puppy-box img {
    width: 250px;
  }

  .index-page .puppy-box {
    margin: 5px 0;
  }
}